.cards > ul {
  font-family: var(--museo-font-family);
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--highlight-text-color);
  background-color: var(--background-color)
}

.cards .cards-card-body {
  margin: 16px;
  font-weight: 300;
  font-size: 1.25rem;
}

.cards .cards-card-body strong {
  font-weight: 500;  
  font-size: 2rem;  
  color: var(--highlight-text-color);
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
