.columns > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  font-family: var(--museo-font-family);
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.1em;
  order: 1;
}

.columns > div > div strong {
  font-size: 1.3rem;  
  font-weight: 700;  
  background-image: linear-gradient(90.38deg,#00fff0 4.77%,#00f6ff 46.73%,#b896ff 90.19%);
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-color: #00fff0;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: top;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
